@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-size: 12pt;

    
}
.classname {
    color: #ff5500;
 }
 
 #idname {
    text-transform: uppercase;
 }
 .section2{
    color: white;
    background-color: black;
 }
 button:hover {
    background-color: rgb(12, 119, 0);
 }
 section {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border: 2px dotted #ff9900;
 }
 button {
    margin: 2em;
 }
 div{ margin: 10px 20px 10px 20px;}

 header{
background: url("https://static.thatsup.co/content/img/place/t/u/tugg-burgers-7.jpg");
overflow: hidden;
background-size: cover;
height: 200px;
width: 100%;
}

header h1{position: absolute;
   width: 40 rem;
   margin: 0 auto 0 auto;
   text-align: center;
   top: 0;
   left: 0;


}

.very-good{
   color:green;
}
.master{
   color: green;
   font-weight: bold;
}