@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
    background: rgb(255,101,247);
    background: linear-gradient(0deg, rgba(255,101,247,1) 33%, rgba(253,131,45,1) 100%);

    
}
.classname {
    color: #ff5500;
 }
 
 #idname {
    text-transform: uppercase;
 }
 .section2{
    color: white;
    background-color: black;
 }
 button:hover {
    background-color: rgb(12, 119, 0);
 }
 section {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border: 2px dotted #ff9900;
 }
 button {
    margin: 2em;
 }
 div{ margin: 10px 20px 10px 20px;}

 header{
background: url("https://static.thatsup.co/content/img/place/t/u/tugg-burgers-7.jpg");
overflow: hidden;
background-size: cover;
height: 200px;
width: 100%;
}

header h1{
   margin-top: 80px;
   text-align: center;
   top: 0;
   left: 0;
   color:antiquewhite;


}

.very-good{
   color:green;
}
.master{
   color: green;
   font-weight: bold;
}



.wrapper {
   display: grid;
   grid-gap: 50px;
   grid-template-columns:33% 33% 33%;
   color: #444;
   margin: 0, 0, 0, -50px;
}

.box {
   border-radius: 5px;

}

.a {
 
}
.b {
   
}
.c {
}
.d {
   
}
@media screen and (max-width: 800px) {
   .wrapper {
      display: grid;
      grid-gap: 50px;
      grid-template-columns:20% 20% 20%;
      color: #444;
      margin: 0, 0, 0, -50px;
   }
}